.switch {
  width: 52px;
  height: 32px;
  background-color: #e6e6e6;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 2px;
  flex-shrink: 0;
}

.switch-checked {
  background-color: #181b1b;
}

.switch-handle {
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 100px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.2s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.switch-checked .switch-handle {
  transform: translateX(20px);
}

.switch:hover {
  opacity: 0.9;
}

.switch:active {
  opacity: 0.8;
}

