.tab-slider {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 2px;
  padding: 2px;
  border-radius: 12px;
  width: 100%;
}

.tab-slider-item {
  flex: 1;
  height: 36px;
  padding: 5px 12px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-slider-item.active {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.03), 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
}

.tab-slider-label {
  font-family: 'Satoshi', sans-serif;
  font-size: 14.08px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.tab-slider-item:not(.active) .tab-slider-label {
  color: #666666;
}

.tab-slider-item.active .tab-slider-label {
  color: #1132ee;
}

